div {
  width: 60px;
  height: 60px;
  background: black;
  margin-bottom: 5px;
}

.fixed {
  position: fixed;
  width: 60px;
  height: 60px;
  background: rgb(138, 21, 215);

  bottom: 20px;
  right: 20px;
}

/* 
- São removidos do fluxo normal da página — ou seja, não afetam nem são afetados pela posição de outros elementos (espaço deles não é reservado no layout.)
- Pode possui um stacking context (Se z-index <> de 'auto');
- O posicionamento 'fixed' é feito em relação à viewport (a área visível da janela) - Fixo, independente da rolagem.
*/