.relative {
  position: sticky;
  border: 1px solid;
}

div {
  background: black;
  width: 60px;
  height: 60px;
  margin-bottom: 5px;
}

.absolute {
  position: absolute;
  background: red;

  width: 60px;
  height: 60px;

  bottom: 0px;
  right: 0px;
  z-index: -1;
  
  /* 
  1. Sai do fluxo normal de renderização (não afeta o layout dos outros elementos);
  2. Cria um novo stacking context se tiver z-index diferente de 'auto';
  3. É posicionado em relação ao ancestral posicionado (não-static) mais próximo, 
    ou ao viewport, se nenhum ancestral for posicionado.
  */

}