.relative {
  position: sticky;
  border: 1px solid;
}

div {
  background: black;
  width: 60px;
  height: 60px;
  margin-bottom: 5px;
}

.absolute {
  position: absolute;
  background: red;

  width: 60px;
  height: 60px;

  bottom: 0px;
  right: 0px;
  z-index: -1;
  
  /* 
  
  1. Não segue a regra do Normal Flow (Ordem de Renderização na tela) / Quebra o fluxo;
  2. Possui o Stacking Content (Empilhamento)
  3. Fica em um determinado local na tela em relação a:
    - Containing block próximo ou;
    - Inital (Área de Renderização).
  
  */

}